<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="3">
  <test name="Test BO Platform">
    <packages>
      <package name="com.gointegro.Tests.Backoffice.Platform.*"/> 
    </packages>
  </test>
  <test name="Test BO Benefits">
    <packages>
      <package name="com.gointegro.Tests.Backoffice.Benefits.*"/> 
    </packages>
  </test>
  <test name="Test Galery">
    <packages>
      <package name="com.gointegro.Tests.Galery.*"/> 
    </packages>
  </test>

  <!--test name="Test Collaborators">
    <packages>
      <package name="com.gointegro.Tests.Collaborators.*"/> 
    </packages>
  </test>
  <test name="Test Profile">
    <packages>
      <package name="com.gointegro.Tests.Profile.*"/> 
    </packages>
  </test-->
</suite> <!-- Suite -->
