# Git
!.gitignore

# --- Vim, nano, PHPStorm, Netbeans, Eclipse, Sublime Text 2 ---
*~
*.*.swp
*.*.swo
.idea/
.settings/
nbproject
*.sublime-project
*.sublime-workspace
.project
.buildpath
.settings/.jsdtscope
*.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
phpcs-checkstyle.tmp


# ---- Files ----
# Mac Files
.DS_Store
*.prefs

# ---- Directories ---
vendor/
vendor/*
*/logs/*
*/cache/*

# Translations
nls/
translations/

# Configuration files
behat.yml


# NPM
node_modules
npm-debug.log

# Bower
src/GoIntegro/Resources/public/js/vendor

# ChromeDriver
chromedriver

# Codeception
**/tests/_log

# Test-output de tests funcionales
GOintegroUI/test-output

target/
.project
test-output/
META-INF/
build.properties
.classpath
