# Git
!.gitignore

# Vim, nano, etc.
*~

#vim
*.*.swp
*.*.swo

# PhpStorm
.idea/

# Eclipse
.settings/

# NetBeans
nbproject

# Sublime Text 2
*.sublime-project
*.sublime-workspace

# Mac Files
.DS_Store

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/public/*
web/bundles/*

# Translations
nls/
translations/

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
behat.yml

# Bundled with Symfony 2 Standard Edition
/web/bundles/
/web/js/*
/web/images/*
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/vendor/
/bin/
/build/

# APC
/web/apc-*

# Behat
/web/behat/

# Los symlinks creados en el deploy.
app/cache
app/logs
web/uploads
web/public/*




# ?
.idea/

*.prefs

.project

.buildpath

.settings/.jsdtscope

*.container

.settings/org.eclipse.wst.jsdt.ui.superType.name
/web/css/

phpcs-checkstyle.tmp




# NPM
node_modules
npm-debug.log

# Bower
src/GoIntegro/Resources/public/js/vendor

# Require.js
requirejs-config.js
web-build

# ChromeDriver
chromedriver

# Codeception
**/tests/_log

# Test-output de tests funcionales
GOintegroUI/test-output
