<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="SignUpTest">
  <classes>
  <class name="Go5.Automation.SignUpTest"/>
  <class name="Go5.Automation.CreatePlatformTest"/>
  <class name="Go5.Automation.LoginTest"/>
</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
