<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite Login" parallel="tests">

  <test name="Logintest">  <!-- Login Tests -->
  <parameter name="username" value="automation" ></parameter>
    <classes>
      <class name="com.logintest.webdriver.LoginEmail"></class>
      <class name="com.logintest.webdriver.LoginId"></class>
      <class name="com.logintest.webdriver.LoginUserAndPassword"></class>
      <class name="com.logintest.webdriver.LoginValidations"></class>
       <class name="com.logintest.webdriver.Logout"></class>
       <class name="com.logintest.webdriver.RecoverPassword"></class>
       </classes>
  </test> 
   
   <test name="HelpCenter"> <!-- Help Center Tests -->
      <classes>
      <class name="com.helpcenter.webdriver.HelpCenterForm"></class>
      <class name="com.helpcenter.webdriver.HelpCenterFormUserLogged"></class>
      <class name="com.helpcenter.webdriver.HelpCenterSentForm"></class>
      <class name="com.helpcenter.webdriver.HelpCenterSentFormUserLogged"></class>
       </classes>
  </test> 
   
    <test name="Rewards"> <!-- Rewards Tests -->
      <classes>
      <class name="com.rewards.webdriver.AddAReward"></class>
      <class name="com.rewards.webdriver.InactiveCatalog"></class>
      <class name="com.rewards.webdriver.VerifyRewardsPage"></class>
       </classes>
  </test> 
  
    <test name="Verification"> <!-- Verification tests -->
      <classes>
      <class name="com.verification.webdriver.VerificationAccept"></class>
      <class name="com.verification.webdriver.VerificationCancel"></class>
      <class name="com.verification.webdriver.VerificationClose"></class>
       </classes>
   </test> 
 
  <test name="Registration"> <!-- Registration  tests -->
      <classes>
      <class name="com.registration.webdriver.Registration"></class>
      <class name="com.registration.webdriver.RegistrationFieldsValidations"></class>
       </classes>
   </test> 
 
 <test name="UserProfile"> <!-- Profile tests --> 
      <classes>
      <class name="com.userProfile.webdriver.ChangeFields"></class>
       </classes>
   </test> 
   
   <test name="Spaces"> <!-- Space tests --> 
      <classes>
      <class name="com.spaces.webdriver.NewPrivateSpace"></class>
      <class name="com.spaces.webdriver.NewPublicSpace"></class>
       </classes>
   </test> 
   
    <test name="Applications"> <!-- Space tests --> 
      <classes>
      <class name="com.appinstall.webdriver.AppInstallSuite"></class>
       </classes>
   </test> 
   
   <test name="Searches"> <!-- Searches tests --> 
      <classes>
      <class name="com.search.webdriver.SimpleSearch"></class>
      <class name="com.search.webdriver.SimpleSearchFail"></class>
       </classes>
   </test> 
   
   <test name="PostActions">
      <classes>
      <class name="com.postActions.webdriver.postActionsSuite"></class>
       </classes>
   </test> 
   
   
   <test name="Present Links">
      <classes>
      <class name="com.links.webdriver.HelpCenterFooter"></class>
      <class name="com.links.webdriver.HelpCenterFooterUserLogged"></class>
      <class name="com.links.webdriver.TermsAndConditions"></class>
       </classes>
   </test> 
  
  <test name="GoWiki">
      <classes>
      <class name="com.goWiki.webdriver.CorporateOperations"></class>
      <class name="com.goWiki.webdriver.CssBackoffice"></class>
      <class name="com.goWiki.webdriver.CssOperations"></class>
      <class name="com.goWiki.webdriver.PartnerShipBO"></class>
      <class name="com.goWiki.webdriver.ProductFaqs"></class>
       </classes>
   </test> 
  
  </suite> <!-- Suite -->
