<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Logintest">
    <classes>
      <class name="LoginEmail"></class>
      <class name="LoginUserAndPassword"></class>
      <class name="LoginValidations"></class>
      <class name="LoginId"></class>
      <class name="Logout"></class>
      <class name="RecoverPassword"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
