default:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://goc.qa.gointegro.net
           # files_path: ./src/GoIntegro/Test/Resources/images/test/
            goutte: ~
            selenium2: ~
    filters:
        tags: "~@ignore"

auto1:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://automation1.ci.gointegro.net:8001
    filters:
        tags: "~@ignore"

auto2:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://automation2.ci.gointegro.net:8001
    filters:
        tags: "~@ignore"

auto3:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://automation3.ci.gointegro.net:8001
    filters:
        tags: "~@ignore"

smoke:
    extensions:
        Behat\MinkExtension\Extension:
            base_url: http://automation1.ci.gointegro.net:8001
    filters:
        tags: "@smoke"
